/* sidebar.css */

.sidebar {
    width: 700px; /* Adjust the width as needed */
    height: 100%; /* Ensure sidebar takes full height */
    background-color: #ff9100; /* Change background color as desired */
    padding: 20px; /* Add padding to create space between content and edges */
    border-radius: 20px; /* Adds rounded corners */
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
  }
  
  .sidebar ul li:hover {
    background-color: #ddd;
  }
  