/* WorldsPage.css */

/* Apply background image to the body */
.worlds-page-body {
  /* Set background image */
  background-image: url('./RMC.webp');
  /* Center and scale the background image */
  background-position: center;
  background-size: cover;
  /* Apply a dark overlay to the background image */
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for opacity */
  z-index: -1;
}

/* Ensure the navbar appears above the background */
.navbar {
  position: relative;
  z-index: 2; /* Ensure the navbar appears above the background */
}

/* Center the saved worlds list */
.saved-worlds-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
}

/* Quote styles */
.world-quotes-container {
  position: fixed;
  top: 40%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.world-quotes {
  background-color: rgba(255, 0, 0, 0.9); /* Semi-transparent red background */
  border: 2px solid #333; /* Dark border */
  border-radius: 10px;
  padding: 20px;
  width: 70%; /* Adjust width as needed */
  max-width: 600px; /* Maximum width */
  text-align: center; /* Center text */
}

.world-quotes blockquote {
  font-size: 18px;
  font-style: italic;
  color: #000000; /* Dark color for quote text */
}

.world-quotes blockquote p {
  margin-bottom: 10px;
}

.world-quotes blockquote footer {
  text-align: right;
  font-style: normal; /* Reset font style */
  font-weight: bold; /* Make author text bold */
  margin-top: 20px; /* Add margin at the top */
  color: #000000; /* Dark gray color for author text */
}