/* App.css */
.app {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 100vh;
}

.main-heading {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}

.sidebar {
    width: 120px;
    margin: 5px;
    position: sticky;
    top: 62px;
    align-self: flex-start;
    align-items: start;
}

.main-heading {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
}

.custom-button {
    background-color: rgb(30, 255, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
